<link rel="stylesheet" href="catagoryBar.css">

<div class="catagoryBarContainer">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">TOPS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> BOTTOMS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">DRESSES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">OUTERWEAR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">SHOES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ACCESSORIES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">OTHERS</a>
  </li>
  
</ul>
</div>