<link rel="stylesheet" href="navBars.css">

<div class="catagoryBarContainer">

<ul class="nav justify-content-center nav-fill" ">

  <li class="nav-item">
    <a class="nav-link catagory" aria-current="page" href="#">TOPS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link catagory" href="#">BOTTOMS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link catagory" href="#">DRESSES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link catagory" href="#">OUTERWEAR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link catagory" href="#">SHOES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link catagory" href="#">ACCESSORIES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link catagory" href="#">OTHERS</a>
  </li>
  
</ul>
</div>



  <script
  src="https://code.jquery.com/jquery-3.6.0.js"integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
  {{!-- function that controls the toggling of active class --}}
  <script src="/handleBarJS/handleBar.js"></script>