
 <div class="container">
 
 <h1> {{this.data.username}}</h1>
 <h1> {{this.data.street_address}}</h1>


 <h2>You and shopop</h2>
 <div>
  {{!-- <form>
        {{#each data}}
        <li>{{this}}</li>
        {{/each}}
     </form> --}}
   <h2>Personal info</h2>
   <p>change profile picture</p>
   <p>change user name</p>
   <p>change address</p>

<button>save changes</button>
<a role="button"type="submit" class="btn btn-danger logoutButton" href="/customer-homepage">BACK</a>
