   <br>
   <br>
    <div class="d-flex flex-row container">

     <img class="image p-2" src="{{this.customerName.profilePicture}}" alt="profilePic">
       <h1 class="customerName p-2"> {{this.customerName.username}}</h1>
       </div>
    <div class="container">
     
   
  

     <div class="formContainer">
      <form class="row">

    <div class="col align-self-start"> 
    </div>
    <div class="col-5 align-self-center">
    </div>
 
  <div class="form-group col align-self-end">
    <label for="categoryList">Catagories</label>
    <select class="form-control" id="categoryList" name="categoryList">
      <option value="All">ALL</option>
      <option value="Top">TOPS</option>
      <option value="Bottom">BOTTOMS</option>
      <option value="Dresses">DRESSES</option>
      <option value="Outerwear">OUTERWEAR</option>
      <option value="Shoes">SHOES</option>
      <option value="Accessories">ACCESSORIES</option>
      <option value="Others">OTHERS</option>
    </select>
  </div>
 
</form>
</div>
</div>






