
<section id="dashboard-section">
    <div class="container">
    <div class="button-container">
        <a class="back-btn" href="/shop/merchant-homepage"> <i class="fas fa-chevron-left"></i> Back</a>
    </div>
    </div>
    <div class="container">
        <h1>Dashboard</h1>
    </div>
    <div class="container">
        <div class="container stripe-dashboard-container">
            <div class="row">
                <div class="col-7">
                    <h5>{{shop}}</h5>
                    <a href="/merchant/stripe/dashboard?account=true">View Stripe Account</a>
                </div>
                <div class="col-5 d-flex">
                    <div class="px-2">
                        <h5>Balance Available</h5>
                        <p>{{balanceAvailable}} HKD</p>
                    </div>
                    <a class="payout-btn"><a href="">Pay out now</a></a>
                </div>
            </div>
        </div>
    </div>
</section>
