<link rel="stylesheet" href="/dashboard.css">

<section id="dashboard-section">
    <div class="container">
    <div class="button-container">
        <a class="back-btn" href="/shop/merchant-homepage"> <i class="fas fa-chevron-left"></i> Back</a>
    </div>
    </div>
    <div class="container">
        <h1 class="dashboard-title">Dashboard</h1>
    </div>
    <div class="container">
        <div id="stripe-dashboard-container">
            <div class="row">
                <div class="col-6">
                    <h5>Hello {{shop}}</h5>
                    <a class="link" href="/merchant/stripe/dashboard?account=true">View Stripe Account</a>
                </div>
                <div class="col-3 d-flex" id="balance-div">
                    <div class="px-2">
                        <h5>Balance Available</h5>
                        <p id="balance">{{balanceAvailable}}HKD</p>
                    </div>
                </div>
                <div class="col-3 d-flex">
                    <form action="/merchant/stripe/payout" method="POST" autocomplete="off">
                    <button type='submit' id="payout" class="btn-payout"value='Pay out now'>Pay out now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/dashboard/dashboard.js"></script>