<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopop</title>
    <link rel="stylesheet" href="selection.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-sm">
            <a class="navbar-brand" href="/homepage">Shopop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/homepage">Home</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Login
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/merchant-login">Store Login</a></li>
                        <li><a class="dropdown-item" href="/customer-login">Customer Login</a></li>
                    </ul>
                    </li>
                <a class="nav-link" href="/select">Register</a>
            </div>
            </div>
        </div>
    </nav>
    <div class="container">
    
       <br>
            <div class="selection-form">
		    <div class="row">
		    <div class=" col-sm-12 col-lg-6 borderLine">
                <br>
                <h2>BUYER</h2>
                <div class="pic_background">
                <img class="pic_size" src="images/customerSelect.png" alt="Customer Selection" style="width:100%">
                </div>
                <div class="buttonContainer">
                <a href="/customer-signup"><button type="submit" class="button mt-3 buttonSignupBuyer">Sign Up</button></a>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 ">
                <br>
                <h2>SELLER</h2>
                <div class="pic_background">
                <img class="pic_size" src="images/shopSelect.png" alt="Shop selection" style="width:100%">
                </div>

                 <div class="buttonContainer">
               <a href="/merchant-signup"><button type="submit" class="button mt-3 buttonSignupSeller">Sign Up</button></a>
                </div>
            </div>
            </div>	
</div>
</body>
</html>