<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="selection.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
   
    <div class="container">
       <br>
       <br>
            <div class="selection-form">

		    <div class="row">
		    <div class=" col-6 borderLine">
                <br>
                <h2>BUYER</h2>
                <div class="pic_background">
                <img class="pic_size" src="media/customerSelect.png" alt="Customer Selection" style="width:100%">
                </div>
                <div class="buttonContainer">
                <button type="submit" class="button mt-3 buttonSignupBuyer ">Sign up</button>
                </div>
            </div>
    
            <div class=" col-6 ">
                <br>
                <h2>SELLER</h2>
                <div class="pic_background">
                <img class="pic_size" src="media/shopSelect.png" alt="Shop selection" style="width:100%">
                </div>

                 <div class="buttonContainer">
                <button type="submit" class="button mt-3 buttonSignupSeller">Sign up</button>
                </div>
            </div>
            </div>	
</div>
</body>
</html>