ul li a {
    color: black !important;
    font-size: 15px;
    font-weight:500;
}

ul li.active a {
    background-color:rgb(0, 0, 0) !important;
    border-radius: 0.25rem;
    color:  white !important;
    font-size: 18px;
        
}

.nav-link {
    padding: 0.5rem 3rem !important;
}

.catagoryBarContainer {
background-color: #E0DFDF;
color: #E0DFDF;
padding: 10px;
border-top: 2px solid black;
}
