ul li a{
    color: black !important;
    font-size: 15px;
    font-weight:500;
    }

ul li a:hover {
        color: #91640F;
      }
.nav-link {
    padding: 0.5rem 4rem !important;
}
.catagoryBarContainer {
background-color: #E0DFDF;
color: #E0DFDF;
padding: 10px;
border-top: 2px solid black;
}
