.mainNavContainer {
    padding: 15px;
}

div ul li a {
    font-weight:bolder;
    font-size: 18px;
}
.accountButton{
margin: auto !important;
}

.dropDownMenuFont {
    font-weight:bolder!important;
    font-size: 18px !important;
    text-align: center !important;
    text-transform: uppercase;
}

.logoutButton {
   margin: 0px 40px 0px 40px;
}

.buttonBG{
    background-color: white !important;
}

.shoppingIcon{
    padding: 11px;
}

@media (max-width: 500px){
    .mainNavContainer {
        padding: 2px;
        margin: 0% auto !important;
    }
   .accountButton {
        padding: 0% !important;
        margin: 0% !important;
   }
   .shoppingIcon{
         padding: auto;
         margin: auto;
    
    }
    .ml-auto{
         position: absolute;
    }
    .iconContainer {
        display: flex;
        justify-content: middle;
    }

   .title {
        padding: 0% !important;
        margin: 0% !important;
    }

}