.mainNavContainer {
    padding: 20px;
}

div ul li a {
    font-weight:bolder;
    font-size: 18px;
}

.dropDownMenuFont {
    font-weight:bolder!important;
    font-size: 18px !important;
    text-align: center !important;
    text-transform: uppercase;
}

.logoutButton {
   margin: 0px 40px 0px 40px;
}

.buttonBG{
    background-color: white !important;
}