.button-container{
    margin-top: 3rem;
}
#product-section{
    margin: 5rem 0 10rem 0;
}

.back-btn{
    color: black;
    font-weight: 700;
    margin: 4rem 0;
    font-size: 1.3rem;
    text-decoration: none;
}


h6 {
    font-size: 1rem;
}

.shop-profile-pic{
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.flex-box-product{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.product-attributes{
    margin: 0.5rem 0;
}

.button-container{
    display: flex;
    flex-direction: column;
}

.product-btn{
    margin: 0.6rem 0;
    border-radius: 5px;
    padding: 10px 15px;
}

.editBtn{
    background-color: #5A4FF3;
    border: none;
    color: white;
}

.editBtn:hover{
    background-color: #493ee0;
    border: none;
    color: white;
}

.deleteBtn{
    background-color: #ED455D;
    border: none;
    color: white;
}

.deleteBtn:hover{
    background-color: #eb1e3d;
    border: none;
    color: white;
}

